@model PagedList<PersonalWebsite.Models.Blog.BlogPost>

<div class="row">
    <div class="col-md-12" id="blogSection">
        <article>
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <h3>@Html.Raw(@Html.ActionLink(@item.Title, "posts", "blog", new {id = @item.PostUrl}, null))</h3>
                        @Html.Raw(@item.Date)
                        @Html.Raw(@item.Body)
                    </li>
                }
            </ul>
        </article>
        <div id="pagedListBottom" class="pagedList" data-otf-target="#blogPostList">
            @Html.PagedListPager(Model, page => Url.Action("Index", new {page}),
                PagedListRenderOptions.Classic)
        </div>
    </div>
</div>

