<!DOCTYPE html >
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta property="og:url" content="http://ameliowright.com" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="A collection of thoughts, ideas, problems, and solutions that I have encountered in my journey in software." />
    <meta property="og:image" content="~/Images/Capture.PNG" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse navbar-left">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "About")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
                    <li>@Html.ActionLink("Resume", "Resume", "Resume")</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse navbar-right" id="socialStuff">
                <ul class="nav navbar-nav">
                    <li><a href="https://www.facebook.com/ameliowright"><i class="fa fa-facebook-square fa-align-center fa-1x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ameliowright"><i class="fa fa-linkedin-square fa-align-center fa-1x"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/2250329/amelio-wright"><i class="fa fa-stack-overflow fa-align-center fa-1x"></i></a></li>
                    <li><a href="https://github.com/figglewot/"><i class="fa fa-github-square fa-align-center fa-1x"></i></a></li>
                    <li><a href="mailto:wright.amelio@outlook.com"><i class="fa fa-envelope fa-align-center fa-1x"></i></a></li>
                </ul>
            </div>  
        </div>
    </div>
    @*<div class="page-header">
        <img src="Images/blogBanner.png" style="display:block;margin-left:auto;margin-right:auto;" />
    </div>*@
    <div class="container body-content" style="color:inherit;background-color:#eeeeee;border-radius:25px;margin-top:2%;">
        @RenderBody()
        <hr/>
        @Html.Partial("_ScrollToTop")
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - ameliowright.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sons-of-obsidian"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
